/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

form {
  background: white;
  width: 25%;
  margin: 5em auto;
  padding: 0 5em 3em 4em;
}

p {
  font-size: 1.1em;
}

label {
  display: block;
  margin: 0 0 -0.5em 0;
}

input {
  height: 45px;
  width: 100%;
  display: block;
}

input[type="submit"] {
  background: green;
  color: white;
  font-size: 1.1em;
  border: 0;
  border-radius: 5px;
  width: 50%;
  height: 50px;
  margin: 1.5em 0 0 0;
}
